<p>
Welcome to nomspace. This site was created so that I can learn more about making websites. I usually work on more backend code, so this is a chance to create something visually, as well as play around with different coding techniques. I also hope to regularly blog about some of the things I am working on for work, as well as other cool things.
</p>
<p>
This site is built with Play 2.0 and is running on the CloudBees RUN@@cloud platform. The code for this site can be found on <a href="http://github.com/hadashi/nomspace">github</a>.
</p>